body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body textarea {
  height: 250px;
  min-height: 250px;
  max-height: 400px;
  overflow: auto;
}
body li {
  list-style-type: none;
}

.header-pos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
}
@media (min-width: 480px) {
  .header-pos {
    padding: 24px 10%;
  }
}

.logo {
  width: 160px;
}
@media (min-width: 480px) {
  .logo {
    width: 200px;
  }
}

.individual-h2 {
  text-align: center;
}
@media (max-width: 479px) {
  .individual-h2 {
    line-height: 32px;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.hero {
  padding: 128px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 480px) {
  .hero {
    width: 500px;
  }
}

.flexator {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.flexator li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-pos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.main-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0;
}

.make-order-button {
  width: 200px;
  height: 60px;
  border: none;
  background: #65bfd2;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 0.2s;
}
.make-order-button:hover {
  background: #34b5cf;
}

.header-hero-back {
  background-image: url("./src/images/hero.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.history {
  padding: 3%;
  background-size: cover;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("./src/images/back-history.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.8px;
}
@media (min-width: 1200px) {
  .history {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .history {
    padding: 5%;
    font-size: 18px;
    text-align: center;
  }
}

.footer-icons {
  width: 24px;
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  transition: 0.2s;
}
.footer-icons:hover {
  background-color: #65bfd2;
}
.footer-icons img {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: rgba(0, 0, 7, 0.9568627451);
  padding: 72px 200px;
}
.footer div {
  color: #f2f2f2;
}
@media (max-width: 920px) {
  .footer {
    padding: 32px;
  }
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .footer .footer__content {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__content .footer__pay {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media (max-width: 920px) {
  .footer .footer__content .footer__pay {
    text-align: center;
    padding: 12px 0;
    gap: 16px;
  }
}
.footer .footer__content .footer__pay img {
  height: 70px;
}
@media (max-width: 1200px) {
  .footer .footer__content .footer__pay img {
    height: 50px;
  }
}
.footer .footer__content .footer__menu__items {
  display: flex;
  justify-content: space-between;
  gap: 92px;
}
@media (max-width: 1200px) {
  .footer .footer__content .footer__menu__items {
    gap: 52px;
  }
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__content .footer__menu__items img {
  margin: 4px 0;
}
.footer .footer__content .footer__menu__items .menu__item__title {
  font-size: 22px;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer .footer__content .footer__menu__items .menu__item__title {
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items .menu__item__title {
    font-size: 26px;
    font-weight: 900;
  }
}
.footer .footer__content .footer__menu__items .footer__menu__links {
  color: #fff;
  font-size: 14px;
  margin: 4px 0;
  transition: 0.2s;
  position: relative;
  transition: 0.2s ease;
}
@media (max-width: 1200px) {
  .footer .footer__content .footer__menu__items .footer__menu__links {
    font-size: 12px;
  }
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items .footer__menu__links {
    font-size: 18px;
  }
}
.footer .footer__content .footer__menu__items .footer__menu__links:hover {
  color: rgb(17, 156, 156);
}
.footer .footer__content .footer__menu__items .footer__manu__icons {
  display: flex;
  gap: 12px;
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items .footer__manu__icons {
    margin: 0 auto;
  }
}
.footer .footer__content .footer__menu__items .footer__menu__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items .footer__menu__item {
    text-align: center;
  }
}
@media (max-width: 920px) {
  .footer .footer__content .footer__menu__items .footer__menu__item img {
    margin: 0 auto;
  }
}
.footer .footer__content .pay__title {
  color: #f2f2f2;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}
@media (max-width: 1200px) {
  .footer .footer__content .pay__title {
    font-size: 18px;
  }
}

.delivery-h3 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 12px 0;
}

.list-etaj {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 0 0 0;
  gap: 16px;
}
.list-etaj li {
  display: flex;
  margin: 16px 0;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 350px;
  transition: 0.2s;
}
.list-etaj li:hover {
  box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.15);
}
.list-etaj li img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-etaj li div {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 4px 8px;
}
.list-etaj li div h3 {
  font-size: 16px;
}
@media (min-width: 480px) {
  .list-etaj li {
    width: 400px;
    height: 500px;
  }
  .list-etaj li div {
    padding: 8px 16px;
  }
  .list-etaj li h3 {
    font-size: 24px;
  }
}

.loading-back {
  background-image: url("./src/images/back-loading.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  font-size: 48px;
}

.thanks-for-watched {
  font-size: 32px;
  color: rgb(210, 232, 255);
  line-height: 40px;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cardback {
  background-color: #f8fdff;
  padding: 16px;
  position: absolute;
  top: 50%;
  gap: 16px;
  width: 700px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardback .form-control {
  width: 600px;
}
@media screen and (max-width: 480px) {
  .cardback {
    right: 0;
    width: 90vw;
  }
  .cardback .form-control {
    width: 80vw;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.form-editing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.form-control:hover,
.form-control:focus,
.btn:hover,
.btn:focus {
  box-shadow: none;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d-block {
  display: block !important;
}

.openModal {
  width: 160px;
  height: 38px;
  margin: 0;
  text-align: center;
  border-radius: 12px;
  background: #65bfd2;
  border: none;
  color: #000;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s linear;
  line-height: 18px;
  letter-spacing: 0em;
}
@media screen and (max-width: 480px) {
  .openModal {
    width: 120px;
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */